/*  */

/* .controls {
    margin: 10px 40px 0 40px;
    background-color: #eee;
} */

.qfield {
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px #999;
    color: "#333";
    overflow-y: hidden;
    border-radius: 10px;
    padding-left: 5px;
    /* background-image: url('/static/search.png'); */
    background-repeat: no-repeat;
    background-position: left center;
    outline: 0;
}

.cbox {
    margin-top: 5px;
    font-size: 14px;
}